.main-head{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 0;
}

.main-head select{
    margin: 4px 15px;
    background-color: #F1F1F1;
    padding: 8px 12px;
    outline: none;
    width: 240px;
    border-radius: 9px;
    font-size: 1.25rem;
    color: #9E9E9E;
    border: none;
}
.buttons .upload{
    margin-left: 60px;
}

.table-header{
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 12px 20px;
    border: 1px groove #000;
    border-radius: 8px;
    width: 100%;
    background-color: #F1F1F1;

}
.table-header span{
    font-size: 1.85rem;
    font-weight: 500;
    color: #2B3674;
    margin-right: 2rem;
}
.search{
    display: flex;
    align-items: center;
}
.search i{
    position: absolute;
    padding: 2px 12px;
    font-size: 22px;
    color: #000;
}
.search input{
    padding: 12px 3rem;
    width: 15rem;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500; 
    margin-right: 5rem;
}
.box button{
    background-color: #F1F1F1;
    border: 2px solid #000;
    padding: 6px 10px;
}
.box button a{
    text-decoration: none;
    cursor: pointer;
    /* transition: all .3s ease; */
    color: #000;
    font-weight: 500;
    font-size: 20px;
}
.box button a svg{
    color: black;
    margin-right: 10px;
}

.destination {
    margin-left: 9.85rem;
    padding: 2rem 4rem;
    max-width: auto;
    height: auto;
    background-color: #ffffff;
    /* color: #3B9AA4; */
}
.destination .heading {
    color: #3B9AA4;
    font-size: 1.035rem;
    font-weight: 600;
    margin-bottom: -10px;
}
.destination .container {
    margin-top: 2.5rem;
}
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }
  .destination  .container .table thead tr th{
background-color:  #F1F1F1;
border-radius: 7px;
  }

  .destination  .container .table tbody tr td select{
    border: none!important;
  }

  .sr-only{
    color: #9E9E9E;
  }
  nav ul{
    float: right;
  }